/* @font-face {
  font-family: "Intro";
  src: url("./Intro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Intro";
  src: url("./Intro-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */
